<h1>My Bookshelf</h1>

<% @my_books.each do |book| %>
<h2><%= link_to book.book.title, book_path(book)%></h2>
<h2><%= book.book.author %></h2>
<h2><%= "*" * book.book.rating %></h2>
<% end %>

<h2><%= link_to "Back to Library", books_path %></h2>
